.content {
    background: url("../img/main_bg.jpg") center (center/cover) no-repeat;
    padding: 50px 0 160px;

    .nav-panel {
        display: flex;
        align-items: center;
        margin-left: 12px;
        &__back {
            display: block;
            position: relative;
            border: 1px solid #DA4533;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 12px;
            img {
                position: absolute;
                top: 50%;
                left: -50%;
                transform: translateY(-50%) rotateY(-180deg);
            }
        }
        &__link {
            color: #8A8A8A;
            font-weight: 400;
            font-size: 16px;
            margin-left: 8px;
            &_active {
                color: #DA4533;
            }
        }
    }

    &__title {
        color: #FFFFFF;
        margin-top: 30px;
    }

    .search-form {
        padding: 15px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        color: #8A8A8A;
        font-weight: normal;
        font-size: 16px;
        width: 75%;
        margin-top: 50px;
    }

    &__tabs {
        margin-top: 25px;
        display: flex;
        border-radius: 8px;
        color: #8A8A8A;
        font-weight: 400;
        font-size: 16px;
       
        &-name {
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px 15px;
            &_mobile {
                display: none;
                color: #8A8A8A;
                font-weight: 400;
                font-size: 16px;
                margin-top: 25px;
            }
        }
        &-item {
            padding: 10px 15px;
            background: rgba(255, 255, 255, 0.05);
            cursor: pointer;
            &:nth-child(2) {
                border-radius: 8px 0px 0px 8px;
            }
            &:last-child {
                border-radius: 0px 8px 8px 0px;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }
            &_active {
                background: rgba(255, 255, 255, 0.15);
            }
        }
    }

    &__select {
        display: none;
        margin: 10px auto 0;
        width: 97%;
        padding: 10px 15px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 8px;
        &-option {
            width: 97%;
            color: #000;
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
        }
    }

    &__items {
        display: none;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 35px;
        &_active {
            display: flex;
        }
    }
    &__item {
        position: relative;
        width: 23.5%;
        max-height: 410px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        padding: 0 0 20px 0;
        &-category {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0px 0px 8px 8px;
            padding: 5px 10px;
            float: left;
            margin-left: 10px;
            &:nth-child(2) {
                margin-left: 0;
                border-radius: 8px 0px 8px 0px;
            }
        }
        &-shape {
            position: absolute;
            top: 20px;
            right: 20px;
            filter: brightness(0.5);
        }
        &-img {
            margin-top: 82px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &-title {
            width: 85%;
            color: #8A8A8A;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            margin: 40px auto 0;
            transform: translateY(18px);
        }
        &-descr {
            color: #8A8A8A;
            font-weight: normal;
            font-size: 14px;
            line-height: 165%;
            margin: 0 auto;
            width: 95%;
            transform: translateY(62px);
            transition: all .5s ease;
            visibility: hidden;
        }
        &:hover {
            .content__item-descr {
                visibility: visible;
                transition: all .9s ease;
                transform: translateY(-10px);
            }
            .content__item-title {
                color: #FFFFFF;
                transform: translateY(-10px);
                transition: all .5s ease;
            }
            .content__item-img {
                transition: all .5s ease;
                filter: brightness(0.5);
                transform: scale(0.9);
            }
            .content__item-shape {
                transition: all .5s ease;
                filter: brightness(1);
            }
        }
    }


    &__case {
        position: relative;
        width: 49%;
        display: flex;
        border-radius: 8px;
        &-img {
            background: rgba(255, 255, 255, 0.1);
            width: 48.3%;
            border-radius: 8px 0px 0px 8px;
            img {
                margin: 88px 24px;
            }

        }

        &-text {
            padding: 54px 12px 54px 12px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0px 8px 8px 0px;
        }
        &-title {
            color: #F9F9F9;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
        }
        &-descr {
            color: #8A8A8A;
            font-weight: 400;
            font-size: 14px;
            line-height: 165%;
        }
        .content__item-category {
            &:nth-child(1) {
                margin-left: 0;
                border-radius: 8px 0px 8px 0px;
            }
            &:nth-child(2) {
                margin-left: 10px;
                border-radius: 0 0 8px 8px;
            }
        }
    }
}