@media (max-width: 1200px) {
    .container {
        max-width: 95%;
    }
    .nav {
        display: none;
    }
    .hamburger {
        display: flex;
    }

    .property {
        &__info {
            margin-top: 100px;
        }
        &__title {
            font-size: 44px;
        }
        &__descr {
            font-size: 16px;
        }
        &__btn {
            padding: 16px 12px;
            font-size: 14px;
        }
        &__services {
            margin-left: 15px;
        }
        &__img {
            img {
                margin-top: 94px;
                width: 355px;
                height: 313px;
            }
        }
    }

    .experience {
        &__img {
            width: 30%;
            img {
                width: 249px;
                height: 249.9px;
            }
        }
    }

    .solutions {
        padding: 120px 0;
        &__descr {
            width: 79%;
        }
    }

    .quiz__form-answer {
        width: 48%;
    }

    .cases {
        padding: 120px 0;
        &__slider {
            margin-top: 40px;
        }
        &__slide {
            max-height: 300px;
            &-logo {
                padding: 131px 9px
            }
            &-info {
                padding: 66px 15px 37px; 
            }
        }
    }

    .team {
        padding: 120px 0;

    }

    .consultation {
        padding: 40px 0;
        &__title {
            margin-top: 50px;
        }
        &__btn {
            margin-top: 29px;
        }
        &__img {
            img {
                width: 301px;
                height: 299px;
            }
        }
    }

    .content {
        padding: 40px 0 120px;

        .search-form {
            display: block;
            margin: 40px auto 0;
            width: 95%;
        }

        &__tabs {
            margin-top: 20px;
            &-name {
                display: none;
                &_mobile {
                    display: block;
                }
            }
        }

        &__item {
            width: 31.5%;
        }

        &__case {
            width: 48%;
            &-img {
                img {
                    width: 136px;
                    height: 26px;
                    margin: 80px 10px 0;
                }
            }
            &-text {
                padding: 45px 12px 29px 12px;
            }

            .content__item-category {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .faq {
        &__items {
            &_right {
                width: 100%;
            }
            &_left {
                width: 100%;
            }
        }
    }

    .footer-top {
        padding: 60px 0 40px;
        &__descr {
            margin-left: 19px;
            width: 467px;
        }
    }


}



@media (max-width: 991px) {
    .contacts {
        display: none;
    }

    .property {
        &__img {
            display: none;
        }
    }

    .experience {
        &__img {
            display: none;
        }
    }

    .solutions {
        padding: 80px 0;
        &__title {
            font-size: 32px;
        }
        &__descr {
            width: 70%;
        }

        &__slider {
            height: 380px;
        }

        &__slide {
            max-height: 317px;
            padding: 15px;
            &-img {
                margin: 23px auto 37px;
            }
            &-descr {
                font-size: 16px;
            }
        }
    }

    .quiz {
        padding: 120px 0;
        &__title {
            font-size: 32px;
        }
    }

    .cases {
        &__title {
            font-size: 32px;
        }
    }

    .team {
        padding: 80px 0;
        &__title {
            font-size: 32px;
        }
        &__slider {
            margin-top: 40px;
            min-height: 470px;
        }
    }

    .consultation {
        padding: 30px 0;
        &__title {
            font-size: 28px;
            line-height: 135%;
        }
        &__img {
            img {
                width: 230px;
                height: 228px;
            }
        }
    }

    .content {
        padding: 40px 0 80px;
        &__tabs {
            display: none;
        }
        &__select {
            display: block;
        }
        &__item {
            width: 30.5%;
            max-height: 355px;
            &-category {
                font-size: 12px;
                &:nth-child(3) {
                    display: none;
                }
            }
            &-shape {
                top: 15px;
                right: 15px;
            }
            &-img {
                margin-top: 70px;
            }
            &-title {
                font-size: 16px;
                transform: translateY(0px);            
            }
            &-descr {
                display: none;
            }
            &:hover {
                .content__item-title {
                    color: #8A8A8A;
                    transform: none;
                }
                .content__item-img {
                    filter: brightness(1);
                    transform: none;
                }
                .content__item-shape {
                    filter: brightness(1);
                }
            }
        }
        

        &__case {
            width: 100%;
            &-img {
                min-width: 50%;
                img {
                    width: 186px;
                    height: 36px;
                    margin: 100px 10px 100px;
                }
            }
        }
    }

    .faq {
        &__asq {
            font-size: 16px;
        }
        &__answer {
            font-size: 16px;
        }
    }

    .footer-top {
        flex-wrap: wrap;
        justify-content: normal;
        &__info {
            margin-left: 148px;
        }
    }

    .footer-down {
        padding: 40px 0;
    }
    

    .menu {
        padding: 115px 40px 173px 50px;

        &__img {
            margin: 80px 0 0 0px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .property {
        &__info {
            margin-top: 60px;
        }
        &__legend {
            display: block;
            font-size: 16px;
            text-align: center;
        }
        &__title {
            font-size: 38px;
            text-align: center;
        }
        &__descr {
            font-size: 16px;
            text-align: center;
        }
        &__buttons {
            flex-direction: column;
        }
        &__btn {
            font-size: 14px;
            padding: 25px 40px;
            &:hover {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                box-sizing: border-box;
                transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
            }
        }
        &__services {
            margin-top: 49px;
            margin-left: 0;
        }
    }

    .experience {
        margin-top: 80px;

        &__title {
            font-size: 28px;
            text-align: center;
        }
        &__descr {
            font-size: 16px;
        }

        &__card {
            padding: 10px;
            &-count {
                font-size: 28px;
            }
            &-descr {
                font-size: 14px;
            }
        }
    }

    .solutions {
        &__services {
            display: none;
            &_mobile {
                display: block;
            }
        }

        &__title {
            font-size: 28px;
        }
        &__descr {
            width: 100%;
        }
    }

    .quiz {
        padding: 80px 0;
        &__title {
            font-size: 28px;
        }
        &__form {
            width: 100%;
            padding: 17px;
            margin-top: 35px;
            &-count {
                font-size: 30px;
            }
            &-answer {
                padding: 13px;
            }
        }
        &__bonuses {
            flex-direction: column;
        }
    }

    .cases {
        padding: 80px 0;
        &__slider {
            min-height: 305px;
        }
        &__slide {
            max-height: 259px;
            &-logo {
                padding: 103px 7px;
            }
        }
    }

    .team {
        &__titile {
            font-size: 28px;
        } 
        &__slider {
            min-height: 410px;
        }
        &__slide {
            &-img {
                width: 235px;
            }
            &-name {
                font-size: 16px;
            }
            &-post {
                font-size: 14px;
            }
        }
    }
    
    .consultation {
        padding: 60px 0;
        &__title {
            margin-top: 0;
            text-align: center;
            font-size: 28px;
        }
        &__descr {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 25px auto 0;
            &:hover {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                box-sizing: border-box;
                transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
            }
        }
        &__img {
            display: none;
        }
    }

    .content {
        padding: 30px 0 80px;
        &__title {
            font-size: 28px;
        }

        .nav-panel__link {
            font-size: 15px;
        }

        .search-form {
            margin: 35px auto 0;
            width: 100%;
        }

        &__tabs {
            &-name_mobile {
                margin-top: 20px;
            }
        }
        &__select {
            margin-top: 8px;
            width: 100%;
        }

        &__item {
            width: 47.5%;
            &-category {
                font-size: 12px;
            }
            &-title {
                margin: 13px auto 0;
                font-size: 14px;
            }
            &-img {
                margin-top: 60px;
                img {
                    transform: scale(0.8);
                }
            }
        }

        &__case-img {
            img {
                margin: 100px 33px 100px;
            }
        }


        .reg-tov {
            &__title {
                font-size: 28px;
                text-align: center;
            }
            &__descr {
                width: 100%;
                text-align: center;
            }
            &__btn {
                display: block;
                margin: 25px auto 0;
                &:hover {
                    &:after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                }
            }

            &__img {
                display: none;
            }

            &__info {
                margin-top: 80px;

                &-title {
                    font-size: 28px;
                }

                &-items {
                    flex-direction: column;
                }
                &-item {
                    width: 100%;
                }
            }
        }
    }

    .footer-top {
        padding: 60px 0 40px;
        flex-direction: column;
        &__descr {
            font-size: 14px;
            margin-top: 14px;
            width: 100%;
        }
        &__info {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }
    }

    .footer-down {
        flex-wrap: wrap;
        &__item {
            width: 39%;
            margin-top: 20px;
        }
    }

    .footer-inc {
        flex-direction: column-reverse;
        align-items: flex-start;
        &__link {
            margin-bottom: 10px;
        }
    }

    .menu {
        margin-left: 100px;
        padding: 80px 70px 0 50px;
        &__items {
            flex-direction: column;
        }

        &__info {
            margin-left: 0;
            margin-top: 30px;
        }

        &__img {
            display: none;
        }
    }
}

@media (max-width: 576px) {

    .property {
        &__img {
            display: none;
        }

        &__info {
            margin-top: 40px;
        }

        &__legend {
            display: block;
            font-size: 14px;
        }
        &__title {
            font-size: 34px;
        }
        &__descr {
            font-size: 14px;
        }
    }

    .experience {
        margin-top: 60px;
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 14px;
        }

        &__cards {
            flex-direction: column;
            margin-top: 35px;
            margin-bottom: 63px;
        }
        &__card {
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-partners {
                height: 80px;
                justify-content: center;
            }
            &-partner {
                height: 90%;
            }
            &-count {
                font-size: 24px;
            }
            &-descr {
                font-size: 14px;
                margin-top: 0;
                margin-left: 20px;
            }
        }
        &__img {
            display: none;
        }
    }

    .solutions {
        padding: 60px 0;
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 14px;
        }

        &__services {
            &_mobile {
                margin: 35px auto 0;
            }
        }
    }

    .quiz {
        padding: 60px 0;
        &__title {
            font-size: 24px;
            text-align: center;
        }
        &__descr {
            font-size: 14px;
        }

        &__form {
            &-title {
                font-size: 20px;
            }
            &-count {
                font-size: 27px;
            }
            &-answers {
                flex-direction: column;
            }
            &-answer {
                width: 100%;
            }
        }
        &__text {
            font-size: 20px;
            text-align: center;
        }

        &__bonuses {
            &-item {
                padding: 10px;
            }
            &-descr {
                font-size: 17px;
            }
        }
    }

    .cases {
        padding: 60px 0;
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 14px;
        }

        &__slider {
            margin-top: 35px;
            min-height: 360px;
        }
        &__slide {
            flex-direction: column;
            justify-content: flex-start;
            min-height: 310px;
            &-img {
                display: block;
                margin: 0 auto;
            }
            &-logo {
                padding: 39px 39px;
                width: 100%;
                height: 100%;
            }
            &-info {
                padding: 17px 8px 10px;
            }
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 14px;
            }
        }
    }

    .team {
        padding: 60px 0;
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 14px;
        }
        &__slider {
            margin-top: 35px;
            min-height: 395px;
        }
        &__slide {
            &-img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    .consultation {
        padding: 40px 0;
        &__title {
            font-size: 24px;
        }
        &__descr {
            font-size: 14px;
        }
        &__btn {
            font-size: 14px;
            &:hover {
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                }
            }
            &:after {
                content: '';
                width: 100%;
                height: 100%;
            }
        }
    }

    .content {
        padding: 25px 0 60px;

        .nav-panel {
            flex-wrap: wrap;
            &__link {
                margin-top: 8px;
                font-size: 14px;
            }
        }

        &__title {
            margin-top: 25px;
            font-size: 24px;
        }

        .search-form {
            margin: 30px auto 0;
        }

        &__tabs {
            &-name_mobile {
                font-size: 14px;
                margin-top: 15px;
                padding: 0;
            }
        }
        &__select {
            padding: 12px 15px;
        }

        &__item {
            width: 100%;
            &-category {
                &:nth-child(3) {
                    display: block;
                }
            }
        }

        &__case {
            flex-direction: column;
            &-img {
                width: 100%;
                border-radius: 8px 8px 0 0;
                img {
                    width: 103px;
                    height: 21px;
                    display: block;
                    margin: 32px auto;
                }
            }

            &-text {
                padding: 35px 15px;
            }
        }

        .reg-tov {
            &__promo {
                padding: 20px 10px;
            }
            &__btn {
                &:hover {
                    &:after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .faq {
        &__asq {
            padding: 20px 5px;
            font-size: 14px;
            img {
                right: 10px;
            }
        }
        &__answer {
            font-size: 14px;
        }
    }

    .footer-top {
        align-items: flex-start;
        &__descr {
            margin-left: 0;
        }
    }

    .footer-down {
        justify-content: unset;
        padding: 35px 0;
        &__item {
            width: 47%;
        }
        &__title {
            font-size: 16px;
        }
        &__link {
            font-size: 14px;
        }
    }

    .modal {
        width: 95%;
        height: 90%;
        padding: 38px 5px;
        &__title {
            font-size: 21px;
        }
        &__descr {
            font-size: 14px;
        }
        &__label {
            margin-top: 10px;
        }
        &__btn {
            margin: 22px auto 0
        }
    }

    .menu {
        margin-left: 30px;
        padding: 72px 8px 0 8px;
        .nav-link {
            font-size: 22px;
            margin-bottom: 15px;
        }
    }

}