.team {
    padding: 160px 0;
    background: url("../img/team_bg.jpg") center (center/cover) no-repeat;
    &__descr {
        color: #8A8A8A;
    }

    &__slider {
        margin-top: 50px;
        min-height: 513px;
    }
    &__slide {
        cursor: pointer;
        &:hover {
            .team__slide-img {
                filter: none;
            }
        }
        &-img {
            filter: grayscale(1);
            border-radius: 8px;
        }
        &-name {
            color: #1B1B1B;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            width: 77%;
        }
        &-post {
            color: #5C5C5C;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
        }
    }
}